<?xml version="1.0" encoding="UTF-8"?>
<DNS Address ="0.0.0.0" port="53" mode="4">	
		<entity ID="1">
			<IP_address>192.168.1.2</IP_address>
			<Name>dns-test1.qspr.local</Name>
		</entity>
		<entity ID="2">
			<IP_address>192.168.1.3</IP_address>
			<Name>www.aaa.com</Name>
		</entity>	
		<entity ID="3">
			<IP_address>192.168.1.3</IP_address>
			<Name>www.bbb.com</Name>
		</entity>
		<entity ID="4">
			<IP_address>192.168.1.5</IP_address>
			<Name>www.ccc.com</Name>
		</entity>		

</DNS>